
     

html
    title Cadastrar Post
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div.container
            div.row
                h1 Criar post
                form(action='update',method='POST')
                    div.form-group.col-md-12
                        input(type='hidden',name="ID", value='#{item.ID}')
                        label Titulo:
                        input.form-control(type='text', name='TITULO', value='#{item.TITULO}')
                    div.form-group.col-md-12
                        label Conteudo
                        textarea.form-control(name='CORPO',rows='20') #{item.CORPO}
                    input.btn.btn-default(type='submit', value='atualizar')
            