html
    title= title
    link(href='./stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='./stylesheets/style.css', rel='stylesheet')
    body
        div.container
            div.row
                h1.col-md-12= h1
        
                a.btn.btn-primary.cadastar(href='/login') Cadastro
                ul.list-unstyled
                   each item in itens
                    li.btn.btn-default.col-md-12
                        a(href='blog/#{item.ID}') #{item.TITULO}