html
    title= title
    body
        h1= h1
        
        a(href='/cadastro') Cadastro
        ul
           each item in itens
            li 
                a(href='blog/#{item.ID}') #{item.TITULO}