body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}
.cadastar{
    margin: 20px 0;
}
h1{
    border-bottom:1px solid;
}
ul li{
    margin-bottom: 20px !important;
    text-align: left !important;
}
.conteudo{
    margin: 20px 0;
    padding: 20px;
}
